.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.2s ease-in-out;
  color: #333333;
  text-decoration: none;
}

.head {
  margin: 0 0 1em;
}

.body {
  margin: 0;
}
