div {
  cursor: pointer;
  text-decoration: none;
}

.card-layout {
  width: 200px;
  height: 300px;
  margin: 0 8px 16px;
  display: flex;
  flex-direction: column;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.text-domain {
  color: rgba(0, 0, 0, 0.54);
}

.small-title {
  font-size: 14px;
}

.small-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 8px;
}

.small-description {
  font-size: 12px;
}

.row-logo-and-domain {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.layout-content {
  padding-top: 12px;
}
