:host {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 12px 8px 8px;
  border-radius: 4px;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.text-domain {
  color: rgba(0, 0, 0, 0.54);
}

.text-title {
  font-size: 15px;
  // disable mat-typography
  margin: 0;
  line-height: 1.4em;
}

.favicon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-right: 8px;
}

.text-description {
  font-size: 11px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.56);
  // disable mat-typography
  margin: 0;
  line-height: 1.6em;
}

.row-logo-and-domain {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.layout-content {
  padding: 12px 0;
}
