<header class="layout-header">
  <app-toolbar></app-toolbar>
</header>

<main class="layout-main" role="main">
  <ng-container *ngIf="searchResults.length">
    <div class="layout-search-result-list app-scrollbar-simple">
      <app-search-result-card
        *ngFor="let data of searchResults"
        [data]="data"
        (clicked)="onItemSelect($event)"
        class="layout-search-result-list-item"
      ></app-search-result-card>
    </div>
    <div class="layout-search-result-viewers app-scrollbar-simple">
      <app-search-result-viewer [data]="selected"></app-search-result-viewer>
    </div>
  </ng-container>
</main>
