$height-header: 60px;
$height-app-main-content: calc(100vh - #{$height-header});
$width-main-left-column-max: 360px;

:host {
  font-size: 14px;
  display: grid;
  grid-template-rows: $height-header 1fr;
  grid-template-columns: $width-main-left-column-max 1fr;
  grid-template-areas:
    'header header'
    'sidenav main';
}

.header {
  grid-area: header;
  height: $height-header;
  max-height: $height-header;
  min-height: $height-header;
  width: 100vw;
  z-index: 1; // higher than layout-main
}

.sidenav {
  grid-area: sidenav;
  position: relative;
  min-height: $height-app-main-content;
  max-height: $height-app-main-content;
  overflow: auto;
}

.main {
  grid-area: main;
  position: relative;
  min-height: $height-app-main-content;
  max-height: $height-app-main-content;
  overflow: hidden;
}
