$height-header: 60px;
$height-app-max: calc(100vh - #{$height-header});

$width-app-max: 100vw;
$width-main-left-column-max: 240px;
$width-main-right-column-max: calc(100vh - #{$width-main-left-column-max});

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-rows: $height-header auto;
}

.layout-header {
  height: $height-header;
  max-height: $height-header;
  min-height: $height-header;
  width: 100vw;
  z-index: 1; // higher than layout-main
}

.layout-main {
  position: relative;
  z-index: 0;
  min-height: $height-app-max;
  max-height: $height-app-max;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;

  display: grid;
  grid-template-columns: $width-main-left-column-max auto;
}

.layout-search-result-list {
  flex: 0;
  min-height: $height-app-max;
  max-height: $height-app-max;
  overflow: auto;
}

.layout-search-result-list-item {
  margin: 8px 4px 8px 6px;

  &:first-of-type {
    margin-top: 8px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.layout-search-result-viewers {
  flex: 1;
  display: flex;
  min-height: $height-app-max;
  max-height: $height-app-max;
  overflow: hidden;
}
