.terminal {
  display: flex;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

input {
  background: transparent;
  border: none;
  width: 100%;
  height: 40px;
  caret-color: #ffffff;
  color: #ffffff;
  padding: 0 1em;
  letter-spacing: 0.1em;
}
