.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--theme-color);
  color: white;
  font-weight: 600;
  padding: 0 8px;
}

.logo-image {
  width: 32px;
  height: 32px;
  margin: 0 12px;
}

.layout-search-box {
  flex: 1;
  width: 100%;
}

.layout-circle-indicators {
}
