<div>
  <a class="circle-link" title="Animations" href="https://angular.io/guide/animations" target="_blank" rel="noopener">
    <svg id="Group_20" data-name="Group 20" xmlns="http://www.w3.org/2000/svg" width="21.813" height="23.453" viewBox="0 0 21.813 23.453">
      <path
        id="Path_15"
        data-name="Path 15"
        d="M4099.584,972.736h0l-10.882,3.9,1.637,14.4,9.245,5.153,9.245-5.153,1.686-14.4Z"
        transform="translate(-4088.702 -972.736)"
        fill="#ffa726"
      />
      <path
        id="Path_16"
        data-name="Path 16"
        d="M4181.516,972.736v23.453l9.245-5.153,1.686-14.4Z"
        transform="translate(-4170.633 -972.736)"
        fill="#fb8c00"
      />
      <path
        id="Path_17"
        data-name="Path 17"
        d="M4137.529,1076.127l-7.7-3.723,4.417-2.721,7.753,3.723Z"
        transform="translate(-4125.003 -1058.315)"
        fill="#ffe0b2"
      />
      <path
        id="Path_18"
        data-name="Path 18"
        d="M4137.529,1051.705l-7.7-3.723,4.417-2.721,7.753,3.723Z"
        transform="translate(-4125.003 -1036.757)"
        fill="#fff3e0"
      />
      <path
        id="Path_19"
        data-name="Path 19"
        d="M4137.529,1027.283l-7.7-3.723,4.417-2.721,7.753,3.723Z"
        transform="translate(-4125.003 -1015.199)"
        fill="#fff"
      />
    </svg>
  </a>

  <a class="circle-link" title="CLI" href="https://cli.angular.io/" target="_blank" rel="noopener">
    <svg alt="Angular CLI Logo" xmlns="http://www.w3.org/2000/svg" width="21.762" height="23.447" viewBox="0 0 21.762 23.447">
      <g id="Group_21" data-name="Group 21" transform="translate(0)">
        <path
          id="Path_20"
          data-name="Path 20"
          d="M2660.313,313.618h0l-10.833,3.9,1.637,14.4,9.2,5.152,9.244-5.152,1.685-14.4Z"
          transform="translate(-2649.48 -313.618)"
          fill="#37474f"
        />
        <path
          id="Path_21"
          data-name="Path 21"
          d="M2741.883,313.618v23.447l9.244-5.152,1.685-14.4Z"
          transform="translate(-2731.05 -313.618)"
          fill="#263238"
        />
        <path
          id="Path_22"
          data-name="Path 22"
          d="M2692.293,379.169h11.724V368.618h-11.724Zm11.159-.6h-10.608v-9.345h10.621v9.345Z"
          transform="translate(-2687.274 -362.17)"
          fill="#fff"
        />
        <path
          id="Path_23"
          data-name="Path 23"
          d="M2709.331,393.688l.4.416,2.265-2.28-2.294-2.294-.4.4,1.893,1.893Z"
          transform="translate(-2702.289 -380.631)"
          fill="#fff"
        />
        <rect id="Rectangle_12" data-name="Rectangle 12" width="3.517" height="0.469" transform="translate(9.709 13.744)" fill="#fff" />
      </g>
    </svg>
  </a>
</div>
