.layout-container {
  min-width: 200px;
  max-width: 500px;
  width: 100%;

  display: grid;
  grid-template-rows: repeat(3, 72px) 88px;
}

.layout-row {
  display: block;
}

.layout-align-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
